  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 copyright">
          React © 2014
        </div>
        <div class="col-sm-6 menu">
          <ul>
            <li>
              <a href="/">Main Page</a>
            </li>
            <li>
              <a href="http://strudelvox.com/">StrudelVOX.com</a>
            </li>
            <li>
              <a href="http://www.audioportal.com/forum.php">Audioportal.com</a>
            </li>
                <a href="mailto: strudelvox@gmail.com">Support</a>
            </li>
          </ul>
        </div>
        <!--
        <div class="col-sm-3 social">
          <a href="#">
            <%= image_tag('social-tw.png',alt: "twitter") %>
          </a>
          <a href="#">
            <%= image_tag('social-dbl.png',alt: "dribbble") %>
          </a>
        </div>
        -->
      </div>
    </div>
  </div>