    <div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 copyright">
					React © 2014
				</div>
				<!--
				<div class="col-md-3 social">
					<a href="#">
						<img src="React%20-%20Bootstrap%20Theme_files/social-tw.png" alt="twitter">
					</a>
					<a href="#">
						<img src="React%20-%20Bootstrap%20Theme_files/social-dbl.png" alt="dribbble">
					</a>
				</div>
				-->
			</div>
		</div>
	</div>