<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3>Admin of StrudelBlog says:</h3>
  <p><%= @user.message.html_safe %></p>
</body>
</html>
